* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #27282D;
}

.vela {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #c40233;
    width: 100px;
    height: 110px;
    border-radius: 3px 3px 0 0;
    /* box-shadow: inset -10px 0 0 0 #e0e5ff; */
}

.vela .wick {
    position: absolute;
    width: 4px;
    height: 15px;
    top: -15px;
    left: 50px;
    background: black;
    border-radius: 2px 2px 0 0;
}

.vela .fire {
    position: absolute;
    width: 15px;
    height: 40px;
    top: -48px;
    left: 45px;
    background: #20b2aa;
    border-radius: 10px 10px 8px / 30px 30px 12px 12px;
    animation: flame 10s ease-in-out infinite,
               flicker 10s ease-in-out infinite;
    transform-origin: 50%, 100%;
}

@keyframes flame {
    0%, 25%, 50%, 75%, 100% {
        border-radius: 2px 14px 8px 8px / 20px 20px;
        transform: scale(1, 0.9);
    }

    12.5%, 37.5%, 62.5%, 87.5% {
        border-radius: 14px 2px 8px 8px / 20px 20px;
        transform: scale(0.9, 1);
    }
}

@keyframes flicker {
    0%, 25%, 75%, 100% {
        box-shadow: 0 0 20px 0 rgba(32, 178, 170, 0.7), 0 0 20px 0 rgba(32, 178, 170, 0.7);
    }

    12.5%, 37.5%, 62.5%, 87.5% {
        box-shadow: 0 0 30px 0 rgba(32, 178, 170, 0.8), 0 0 20px 0 rgba(32, 178, 170, 0.8);
    }
}