* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131419;
    min-height: 100vh;
}

form {
    position: relative;
    text-align: center;
    width: 350px;
    padding: 40px 40px 60px;
    background: #131419;
    border-radius: 10px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
                5px 5px 15px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    font-size: 18px;
    text-align: left;
  }

input {
    width: 100%;
    background: #131419; 
    color: #03a9f4;
    font-size: 18px;
    padding: 16px 0 8px 0;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    transition: 0.15s linear;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.05),
                inset 2px 2px 6px rgba(0, 0, 0, 0.5);
}

input::placeholder {
    color: #555;
    font-size: 18px;
}

input[type="submit"] {
    margin-top: 20px;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.05),
                2px 2px 6px rgba(0, 0, 0, 0.5);
}

input[type="submit"]:active {
    margin-top: 20px;
    color: #006c9c;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.05),
                inset 2px 2px 6px rgba(0, 0, 0, 0.5);
}

a {
   text-decoration: none;
   color: #03a9f4;
   outline: none;
   transition: .3s;
   padding-top: 20px;
}

a:hover {
    color: #006c9c;
}